@{
    WebSecurity.InitializeDatabaseConnection("AdminMusicMoods","UserProfile","UserId","UserName",true); //true para decir que si no existe esa tabla con esas dos columnas, que la cree.
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
