@{
	var id = UrlData[0];
	if(id.IsEmpty())
	{
		Response.Redirect(Href("~/canciones"));
	}
    
	var titulo = "";
	var autor = "";
	var age = "";
	var estilo = "";

	var db = Database.Open("AdminMusicMoods");

	if (IsPost) {
		titulo = Request["titulo"];
		autor = Request["autor"];
		age = Request["age"];
		estilo = Request["estilo"];

		var sqlCommand = "UPDATE canciones SET titulo = @0, autor = @1, " +
						"age = @2, estilo = @3 " +
						"WHERE id = @4";

		db.Execute(sqlCommand, titulo, autor, age, estilo, id);

		Response.Redirect(@Href("~/canciones"));
	}

	//var db = Database.Open("DatosDemo");
	var sqlSelect = "SELECT * FROM canciones WHERE id = @0";

	var cancion = db.QuerySingle(sqlSelect, id);
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administracion - Music Moods</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <link href="~/css/plugins/morris.css" rel="stylesheet">
    <link href="~/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php">Administracion - Music Moods</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    @MembershipHelpers.AccountSummary()
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.php"><i class="fa fa-fw fa-dashboard"></i> General</a>
                    </li>
                     <li class="active">
                        <a href="javascript:;" data-toggle="collapse" data-target="#canciones"><i class="fa fa-fw fa-play"></i> Musica <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="canciones" class="collapse">
                            <li>
                                <a href="canciones.php">Canciones</a>
                            </li>
                            <li>
                                <a href="cancionesPendientes.php">Canciones pendientes</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#categorias"><i class="fa fa-fw fa-table"></i> Categorías <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="categorias" class="collapse">
                            <li>
                                <a href="estilos-musicales.php">Estilos musicales</a>
                            </li>
                            <li>
                                <a href="estados-animo.php">Estados de ánimo</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="estadisticas.php"><i class="fa fa-fw fa-bar-chart-o"></i> Estadísticas</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">

            <div class="container-fluid">
            	<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Editar canción
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="default">General</a>
                            </li>
                            <li>
                                <i class="fa fa-play"></i>  <a href="canciones">Canciones</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-plus"></i> Editar
                            </li>

                        </ol>
                    </div>
                </div>

            	<div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
						<form class="form-horizontal" action="" method="post">
						    <div class="form-group control-group <?php echo !empty($nombreError)?'error':'';?>">

						   		<label class="control-label">Titulo</label>
						      	<input class="form-control" name="titulo" type="text"  placeholder="Titulo..." value=@cancion.titulo >

                                <label class="control-label">Autor</label>
                                <input class="form-control" name="autor" type="text"  placeholder="Autor..." value=@cancion.autor>

                                <label class="control-label">Año</label>
                                <input class="form-control" name="age" type="number" min="0" max="2015" placeholder="Año..." value=@cancion.age>

                                <label class="control-label">Estilo</label>
                                <input class="form-control" name="estilo" type="text"  placeholder="Estilo..." value=@cancion.estilo>

						    </div>
						    <div class="form-group">
				    			<button type="submit" class="btn btn-success">Editar</button>
								<a class="btn" href="canciones">Atras</a>
							</div>
						</form>                    		
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>