@{
    var username = "";
    var password = "";

    Validation.RequireField("username", "El campo Usuario no puede estar en blanco");
    Validation.RequireField("password", "El campo Contraseña no puede estar en blanco");
    
    if(IsPost)
    {
        username = Request["username"];
        password = Request["password"];
         var rememberMe = Request["rememberMe"].AsBool();

        if(Validation.IsValid())
        {
            if(WebSecurity.Login(username, password))
            {
                if(Request.QueryString["sender"] != null)
                {
                    Response.Redirect(Request.QueryString["sender"]);
                }
                else
                {
                    Response.Redirect("~/Default");
                }
            }
            else
            {
                Validation.AddFormError("No es posible iniciar la sesion");
            }
        }
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Importación del Head -->
    @RenderPage("~/layout/_ImportHead.cshtml")
</head>

<body style="background-image: url(images/back.png)">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">Music Moods Admin</h3>
                    </div>
                    <div class="panel-body">
                        @Html.ValidationSummary()
                        <form action="~/Login?@Request.QueryString" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Usuario" name="username" type="text">
                                    @Html.ValidationMessage("username") @*"*")Validation.GetErrors("username").FirstOrDefault())*@
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Contraseña" name="password" type="password">
                                    @Html.ValidationMessage("password") 
                                </div>
                                <input type="submit" class="btn btn-lg btn-success btn-block" name="boto" value="Entrar"></a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>