@{
    var username = "";
    var password1 = "";
    var password2 = "";

    Validation.RequireField("username", "El campo Usuario no puede estar en blanco");
    Validation.RequireField("password1", "El campo Contraseña no puede estar en blanco");
    //Validation.RequireField("password2", "El campo Confirmar contraseña no puede estar en blanco");
    Validation.Add("password1", Validator.EqualsTo("password2", "Las contraseñas no coinciden"));
    //Validation.Add("email", Validation.Regex(@"^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$","La direccion de correo no es correcta"));

    if(IsPost)
    {
        username = Request["username"];
        password1 = Request["password1"];
        password2 = Request["password2"];

        if(Validation.IsValid())
        {
            if(WebSecurity.UserExists(username))
            {
                ModelState.AddError("username", "Ya existe un usuario con ese nombre");
            }
        }

        if(ModelState.IsValid)
        {
            WebSecurity.Logout();
            var token = WebSecurity.CreateUserAndAccount(userName: username,
                                                         password: password1,
                                                         requireConfirmationToken: false);
            ModelState.AddError("username", "El registro se ha realizado con exito");
        }
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Importación del Head -->
    @RenderPage("~/layout/_ImportHead.cshtml")
</head>

<body>

    <div id="wrapper">
        <!-- Barra navegacion horizontal y vertical -->
        @RenderPage("~/layout/_Navegacion.cshtml")
       
        <div id="page-wrapper">
            <div class="container-fluid">
            	<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Añadir Admin
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="~/Default">General</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-plus"></i> Añadir Admin
                            </li>
                        </ol>
                    </div>
                </div>

            	<div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <form action="register" method="post">
                            <div class="form-group control-group">
                                @Html.ValidationMessage("username") @*"*")Validation.GetErrors("username").FirstOrDefault())*@<br>
						   		<label class="control-label">Usuario</label>
						      	<input class="form-control" name="username" type="text">

                                @Html.ValidationMessage("password1") <br>
                                <label class="control-label">Contraseña</label>
                                <input class="form-control" name="password1" type="password">

                                @*Html.ValidationMessage("password1") *@<br>
                                <label class="control-label">Confirmar contraseña</label>
                                <input class="form-control" name="password2" type="password"><br>


						    </div>
						    <div class="form-group">
				    			<button type="submit" class="btn btn-success">Registrar</button>
								<a class="btn" href="~/Default">Atras</a>
							</div>
						</form>                                        		
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>
</html>